$theme-color: #2DA4E2;

$xs-device-width: 320px;
$sm-device-width: 400px;
$m-device-width: 600px;
$ml-device-width: 800px;
$l-device-width: 1000px;
$xl-device-width: 1200px;
$xxl-device-width:1600px;

$header-border-radius: 10px;

$message-area-max-width: 400px;
$message-area-max-height: 500px;
